		/*
Template by WebCodes
	webcodes.net | @Hmairi
*/
@media screen and (max-width: 736px){
	section div .main .input form input{
		width: 100%;
	}
	section div .main .input form button{
		margin-left:30%;margin-top: 4%; 
	}
}@media screen and (max-width: 1000px){
	section div .main .input form input{
		width: 100%;
	}
	section div .main .input form button{
		margin-left:30%; margin-top: 4%;
	}
}