<html>
<head><title></title>
<style type="text/css">
*{padding: 0; margin: 0;}
body{
background:rgba(171, 178, 185,1);
}
#cv{
	margin-top: 1.5%;
	margin-left: 30%;
	width:40%;
	height: 200%;
	box-shadow: 0px 0px 70px;
	background:rgba(213, 219, 219,1);
}
#img{
	margin-top: -1%;
	margin-left: 14%;
	border-radius: 200px;
	width:150px;
	height: 150px;
	position: absolute;
	box-shadow: 0px 0px 4px;
	background-image: url('user.png'); /* you Photo */
	background-repeat: no-repeat;
	background-size: cover;
}

</style>
<script>
//function javascript display your tools social contact

function text(id,t){

document.getElementById(id).innerHTML = t;

}


</script>
</head>
<body>
<!----------------- Your CV ------------------------------->
<div id="cv">




<!----------------- Your photo ------------------------------->
<div id="img"></div>
<!-- --------------------------------------------------------->




<!----------------- Your NAME ------------------------------->
<div style="margin-top:160px;margin-left:200px; position:absolute;border-bottom:1px solid black;"><h2>YOUR NAME</h2></div>
<!-- --------------------------------------------------------->




<!----------------- Your JOB ------------------------------->
<div style="margin-top:200px;margin-left:17px;background:rgba(203, 67, 53,0.5);position:absolute;box-shadow:0px 0px 3px;"><center><h2>Name of job </h2></center>
<p>
<h4>Describe briefly your career, your key skills and to post your character goals
<center>This is actually an introduction to your cover letter</center></h4>
</p>
</div>
<!-- --------------------------------------------------------->


<!----------------- tools social contact ------------------------------->
<div onclick="text('demo','Your account gmail')" style="margin-top:290px;margin-left:90px; position:absolute;box-shadow:0px 0px 2px;width:80px;height:80px; float:left;border-radius:200px;background-image: url('gmail.png');
	background-repeat: no-repeat;
	background-size: cover;cursor:pointer;">

</div>
<div onclick="text('demo','Your account facebook')" style="margin-top:290px;margin-left:230px; position:absolute;box-shadow:0px 0px 2px;width:80px;height:80px; float:left;border-radius:200px;background-image: url('facebook.png');
	background-repeat: no-repeat;
	background-size: cover;cursor:pointer;">

</div>
<div onclick="text('demo','Your phone number')" style="margin-top:290px;margin-left:370px; position:absolute;box-shadow:0px 0px 2px;width:80px;height:80px; float:left;border-radius:200px;background-image: url('smartphone.png');
	background-repeat: no-repeat;
	background-size: cover;cursor:pointer;">

</div>
<p id="demo" style="margin-left:200px; margin-top:390px;position:absolute;font-weight:bold;font-size:18;"></p>
<!-- --------------------------------------------------------->



<!----------------- your professional experience ------------------------------->
<div style="margin-top:420px;background:rgba(203, 67, 53,0.5);margin-left:5px; position:absolute;box-shadow:0px 0px 2px;width:240px;height:380px;">
<header style="background:rgba(231, 76, 60,0.5);width:240px;height:80px;"><button style="margin-top:18px;width:50px;height:50px;border-radius:100px;border:none;background:none;background-image: url('wallte.png');
	background-repeat: no-repeat;
	background-size: cover;"></button><p style="margin-left:60px;margin-top:-32px;"><h4 style="margin-left:60px;">PROFESSIONAL EXPERIENCE</h4></p></header>
<h4><p>Business as post <font color="red">2015-2013</font>
Here describe the duties you occupied for
post. Also describe your missions and results
you got. please quantify</p><br>
<p>Business as post <font color="red">2015-2013</font>
Here describe the duties you occupied for
post. Also describe your missions and results
you got. please quantify</p><br>
<p>Business as post <font color="red">2015-2013</font>
Here describe the duties you occupied for
post. Also describe your missions and results
you got. please quantify</p></h4>
</div>
<!-- --------------------------------------------------------->




<!----------------- your skills ------------------------------->
<div style="margin-top:810px;margin-left:5px;background:rgba(203, 67, 53,0.5); position:absolute;box-shadow:0px 0px 2px;width:240px;height:470px;">
<header style="background:rgba(231, 76, 60,0.5);width:240px;height:80px;"><button style="margin-top:18px;width:50px;height:50px;border-radius:10px;border:none;background:none;background-image: url('parameters.png');
	background-repeat: no-repeat;
	background-size: cover;"></button><p style="margin-left:60px;margin-top:-32px;"><h4 style="margin-left:60px;">SKILLS</h4></p></header>
<p><center><h4>Programming</h4></center>
<br>
<h5>HTML5</h5><img src="star.png"><img src="star.png"><img src="star.png"><img src="star.png"><img src="star0.png">
<br>

<h5>JAVASCRIPT</h5><img src="star.png"><img src="star.png"><img src="star.png"><img src="star0.png"><img src="star0.png">
<h5>CSS3</h5><img src="star.png"><img src="star.png"><img src="star.png"><img src="star.png"><img src="star0.png">
<br>
<h5>PHP</h5><img src="star.png"><img src="star.png"><img src="star.png"><img src="star.png"><img src="star0.png">
<br>
</p><br>
<p><center><h4>Language</h4></center>
<h5>ENGLISH</h5><img src="star.png"><img src="star.png"><img src="star.png"><img src="star.png"><img src="star.png">
<h5>FRENCH</h5><img src="star.png"><img src="star.png"><img src="star.png"><img src="star0.png"><img src="star0.png">
</p><br>
</div>
<!-- --------------------------------------------------------->



<!----------------- your professional training ------------------------------->
<div style="margin-top:420px;margin-left:293px;background:rgba(203, 67, 53,0.5); position:absolute;box-shadow:0px 0px 2px;width:240px;height:380px;">
<header style="background:rgba(231, 76, 60,0.5);width:240px;height:80px;"><button style="margin-top:18px;width:50px;height:50px;border-radius:100px;border:none;background:none;background-image: url('university.png');
	background-repeat: no-repeat;
	background-size: cover;"></button><p style="margin-left:60px;margin-top:-32px;"><h4 style="margin-left:60px;">PROFESSIONAL TRAINING</h4></p></header>
<p><h4>Name of training <font color="red">- 2000-2003</font>
describe the specialists of this training: your
Certificate, training options, etc ...</h4>
</p><br>
<p><h4>Name of training <font color="red">- 2000-2003</font>
describe the specialists of this training: your
Certificate, training options, etc ...</h4>
</p><br>
<p><h4>Name of training <font color="red">- 2000-2003</font>
describe the specialists of this training: your
Certificate, training options, etc ...</h4>
</p>
</div>
<!-- --------------------------------------------------------->






<!----------------- your hobbies ------------------------------->
<div style="margin-top:810px;margin-left:293px;background:rgba(203, 67, 53,0.5); position:absolute;box-shadow:0px 0px 2px;width:240px;height:200px;">
<header style="background:rgba(231, 76, 60,0.5);width:240px;height:80px;"><button style="margin-top:18px;width:50px;height:50px;border-radius:5px;border:none;background:none;background-image: url('speech-bubble.png');
	background-repeat: no-repeat;
	background-size: cover;"></button><p style="margin-left:60px;margin-top:-32px;"><h4 style="margin-left:60px;">HOBBIES</h4></p></header>
<p><h4>Describe your interests or other center
information that you seem important to
appear on your CV</h4>
</p><br>
</div>
<!-- --------------------------------------------------------->





<!----------------- your personality ------------------------------->
<div style="margin-top:1020px;margin-left:293px;background:rgba(203, 67, 53,0.5); position:absolute;box-shadow:0px 0px 2px;width:240px;height:260px;">
<header style="background:rgba(231, 76, 60,0.5);width:240px;height:80px;"><button style="margin-top:18px;width:50px;height:50px;border-radius:100px;border:none;background:none;background-image: url('males-friends.png');
	background-repeat: no-repeat;
	background-size: cover;"></button><p style="margin-left:60px;margin-top:-32px;"><h4 style="margin-left:60px;">PERSONALITY</h4></p></header>
<p style="width:30px;height:145px;background:rgba(231, 76, 60,1); float:left;margin-top:30px;">
</p><br>
<p style="width:30px;height:120px;background:rgba(231, 76, 60,0.3);float:left;margin-top:34px; margin-left:10px;">
</p><br>

<p style="width:30px;height:130px;background:rgba(231, 76, 60,0.7);float:left;margin-top:5px; margin-left:10px;">
</p><br>

<p style="width:20px;height:20px;background:rgba(231, 76, 60,1);float:left;margin-top:-40px; margin-left:20px;">
</p><p style="margin-left:50px;margin-top:-40px;float:left;font-weight:bold;">Serous</p><br>
<p style="width:20px;height:20px;background:rgba(231, 76, 60,0.3);float:left;margin-top:-17px; margin-left:23px;">
</p><p style="margin-left:52px;margin-top:-20px;float:left;font-weight:bold;">creativity</p><br>
<p style="width:20px;height:20px;background:rgba(231, 76, 60,0.7);float:left;margin-top:5px; margin-left:30px;">
</p><p style="margin-left:10px;margin-top:2px;float:left;font-weight:bold;">Craft</p><br>
</div>
<!-- --------------------------------------------------------->




</div>
<!-- --------------------------------------------------------->


</body>
</html>