<!DOCTYPE html>
<!--
	Template by WebCodes
	webcodes.net | @Hmairi
-->
<html>
<head>
	<title>Google</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<section>
	<header><div class="app">
	<p>Gmail</p>
		<button class="menug"><img src="img/menu.svg"></button>
		<button class="user"><img src="img/4.jpg"></button>
	</div><div class="bt1">
		<button class="bete">beta</button>
	</div></header>

	<div class="main">
	<header>
		<h1>Google</h1>
		
	</header>
		<div>
			<form>
				<input type="search" placeholder="What are you thinking about
" name="">
			</form>
			<button class="menug"  ><img src="img/loupe.svg"></button>
		<button class="user"><img src="img/microphone.svg"></button>
		</div>
	</div>

	<div class="footer" >
		<div class="bt1">
		<button class="us">us</button> <button class="bete">advertise</button> <button class="bete">business</button><button class="bete">about</button>
	</div>
	<div class="bt2">
		<button class="help"><img src="img/question-sign.svg"></button> <button class="bete">terms</button> <button class="bete">help</button><button class="bete">privacy</button>
	</div>
	</div>
</section>

</body>
</html>