<!DOCTYPE html>
<!--
	Template by WebCodes
	webcodes.net | @Hmairi
-->
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/enter.css">
	<link rel="stylesheet" type="text/css" href="css/enter_mobile.css">

</head>
<body>

<section>
	<div>
		<form>
			<p>Login</p><br>
			<input type="email" name="" placeholder="Email" required="required"><br>
			<input type="password" name="" placeholder="Password" required="required"><br><br>
			<button>Login</button><a href="">Forget password</a>
		</form>
		<form class="social">
		<p>Login Using Social Profile</p><br>
			<button ><img src="img/facebook-logo.svg"> <span>Facebook<span></button><button class="in"><img src="img/linkedin.svg"> <span style="">Linkedin<span></button>
		</form>
	</div>
	<div style="box-shadow: 0px 2px 40px rgba(0,0,0,0.5);	background: rgba(38, 44, 97,0.9);">
		<form>
			<p>Sing up</p><br>
			<input type="email" name="" placeholder="Email" required="required"><br>
			<input type="password" name="" placeholder="Password" required="required"><br>

			<input type="email" name="" placeholder="First Name" required="required"><br>
			<input type="email" name="" placeholder="Last Name" required="required"><br>
			<input type="email" name="" placeholder="Contact No" required="required"><br>
			<input type="email" name="" placeholder="Company Name" required="required"><br>
			<br>
			<button>Sing up</button> 
		</form>
	</div>
</section>

</body>
</html>