<!DOCTYPE html>
<!--
	Template by WebCodes
	webcodes.net | @Hmairi
-->
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/index_mobile.css">
	
</head>
<body>
<section>
	<div>
		<header>
		<div class="logo">
			<p>
				WebCodes
			</p>
		</div>
			<div class="enter">
				<a href="enter.html"><button>Sing in</button></a>
			<a href="enter.html"><button>login</button></a>
		
				
			</div>
		</header>
		<div class="main">
			<div class="text">
				<p>Serach from more than</p><br>
				<span><strang>30,478 Jobs</strang> & 40,245 Canditates Worldwide</span>
			</div>
			<div class="input">
				<form>
					<input type="search" placeholder="Keyword, Company or Location" name="">
					<button>search now</button>
				</form>
			</div>
		 
		</div>
	</div>
</section>
</body>
</html>