<!DOCTYPE html>
<!--
	Template by WebCodes
	webcodes.net | @Hmairi
-->
<html>
<head>
	<title></title>
	<style type="text/css">
		
	</style>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/mobile.css">
	<script type="text/javascript">function _(x) {
		return document.getElementById(x);
	}</script>
</head>
<body onload="shadoww()">
<section>
<div>
<header>
<div class="menu">
	<div class="logo">
		<img src="img/logo.png">
	</div>
	<div class="btn">
		<button onclick="singi()">sing in </button>
		<button onclick="singu()">sing up </button>
	</div>

	<script type="text/javascript">
		function singi() {

			if (_('login').style.opacity == 1) {
			_('login').style.display = "none";
			_('login').style.opacity = 0;
			_('rejster').style.display = "none";
			_('rejster').style.opacity = 0;

		}else{
			_('login').style.display = "block";
			_('login').style.opacity = 1;
			_('rejster').style.display = "none";
			_('rejster').style.opacity = 0;
		}}


		function singu() {

			if (_('rejster').style.opacity == 1) {
			_('rejster').style.display = "none";
			_('rejster').style.opacity = 0;
			_('login').style.display = "none";
			_('login').style.opacity = 0;
		}else{
			_('rejster').style.display = "block";
			_('rejster').style.opacity = 1;
			_('login').style.display = "none";
			_('login').style.opacity = 0;
		}

		}
	</script>
 </div>

</header>
<div class="enter">
<div  class="text" id="text">
	<h1>get best advertiser in your side pocket</h1><br>
	<p>Likde the majority of sale people, I visit a huge number of clients and<br>
	 prospects every month, some end up buying do not, but every single one of them<br>
	 has my business card.I attend business breakfasts,seminars and other networking<br> event in my search for new contacts and ultimately new business,ech</p><br><br>
	<form>
		<input type="search" placeholder="What do you like search..." name=""><img src="img/magnifying-glass.svg">
	</form>
</div>
<div class="login" id="login">
	<form>
		<input type="email" placeholder="E-mail..." pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="" required="required"><br>
		<input type="password" placeholder="Password..." name="" required="required"><br><br>
		<p>forget password ?</p><br><br>
		<center><button>sign in</button></center>
	</form>
</div>

<div class="login" id="rejster" style="height: 400px;">
	<form>
		<input type="text" placeholder="First Name..." name="" required="required"><br>
		<input type="text" placeholder="Last Name..." name="" required="required"><br>
		<input type="email" placeholder="E-mail..." pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="" required="required"><br>
		<input type="password" placeholder="Password..." name="" required="required"><br> 
		<input type="password" placeholder="Confirm Password..." name="" required="required"><br><br>
	 
		<center><button>Sign Up
</button></center>
	</form>
</div>
</div>
</div>
</section>



<section class="main1">
<div style="position: absolute;width: 100%;height: 100px; transform: rotate(2deg);
margin-top:-2%;background: none;
">
<div style="position: absolute;width: 100%;height: 8px; transform: rotate(0deg);
  border-top:1px solid #ABDCFF;
background-image: linear-gradient( 190deg, rgba(38, 50, 75,0.8) 30%,
			 rgba(69, 90, 100,1) 100%);
box-shadow: 0px 2px 10px rgba(69, 90, 100,1);
">
	
</div> 
  <div style="position: absolute;width: 100%;height: 8px; transform: rotate(0deg);
  border-top:1px solid #ABDCFF;margin-top: 0.5%;
background-image: linear-gradient( 190deg, rgba(38, 50, 75,0.8) 30%,
			 rgba(69, 90, 100,1) 100%);
box-shadow: 0px 2px 10px rgba(69, 90, 100,1);
">
	
</div>  <div style="position: absolute;width: 100%;height: 8px; transform: rotate(0deg);
  border-top:1px solid #ABDCFF;margin-top: 1%;
background-image: linear-gradient( 190deg, rgba(38, 50, 75,0.8) 30%,
			 rgba(69, 90, 100,1) 100%);
box-shadow: 0px 2px 10px rgba(69, 90, 100,1);
">
	
</div>   <div style="position: absolute;width: 100%;height: 8px; transform: rotate(0deg);
  border-top:1px solid #ABDCFF;margin-top: 1.5%;
background-image: linear-gradient( 190deg, rgba(38, 50, 75,0.8) 30%,
			 rgba(69, 90, 100,1) 100%);
box-shadow: 0px 2px 10px rgba(69, 90, 100,1);
">
	
</div>    <div style="position: absolute;width: 100%;height: 8px; transform: rotate(0deg);
  border-top:1px solid #ABDCFF;margin-top: 2%;
background-image: linear-gradient( 190deg, rgba(38, 50, 75,0.8) 30%,
			 rgba(69, 90, 100,1) 100%);
box-shadow: 0px 2px 10px rgba(69, 90, 100,1);
">
	
</div>    <div style="position: absolute;width: 100%;height: 8px; transform: rotate(0deg);
  border-top:1px solid #ABDCFF;margin-top: 2.5%;
background-image: linear-gradient( 190deg, rgba(38, 50, 75,0.8) 30%,
			 rgba(69, 90, 100,1) 100%);
box-shadow: 0px 2px 10px rgba(69, 90, 100,1);
">
	
</div> 	   <div style="position: absolute;width: 100%;height: 8px; transform: rotate(0deg);
  border-top:1px solid #ABDCFF;margin-top: 3%;
 background: none;
box-shadow: 0px 2px 10px rgba(69, 90, 100,1);
">
	
</div> 
</div>
	<div>
		<div class="enter">
				<div class="text">
				<img src="img/minpudg.jpg"><br><br>
					<h1>Zeus vs Invoker Mid Matchup
Analysis by BZZ</h1><br>
	<p>
BZZ is a pro player with BK MMR and the he plays for Fantastic Five.He's<br>
here once again to help us analyze yet another mid matchup, and this
time it's <br>
his team vs. No Diggity.BZZ will be playing as Zeus and he will
be facing<br> Qojqva as Invoker.In this video you will learn how last hit as
well as.</p><br><br>

	 <button>show more</button>
				</div>
		</div>

	</div>
</section>

<section class="main2">
<div style="position: absolute;width: 100%;height: 60px; transform: rotate(-2deg);
margin-top:-2%;background:none;
">
  <div style="position: absolute;width: 100%;height: 8px; transform: rotate(0deg);
  border-top:1px solid #ABDCFF;
background-image: linear-gradient( 190deg, rgba(38, 50, 75,0.8) 30%,
			 rgba(69, 90, 100,1) 100%);
box-shadow: 0px 2px 10px rgba(69, 90, 100,1);
">
	
</div> 
  <div style="position: absolute;width: 100%;height: 8px; transform: rotate(0deg);
  border-top:1px solid #ABDCFF;margin-top: 0.5%;
background-image: linear-gradient( 190deg, rgba(38, 50, 75,0.8) 30%,
			 rgba(69, 90, 100,1) 100%);
box-shadow: 0px 2px 10px rgba(69, 90, 100,1);
">
	
</div>  <div style="position: absolute;width: 100%;height: 8px; transform: rotate(0deg);
  border-top:1px solid #ABDCFF;margin-top: 1%;
background-image: linear-gradient( 190deg, rgba(38, 50, 75,0.8) 30%,
			 rgba(69, 90, 100,1) 100%);
box-shadow: 0px 2px 10px rgba(69, 90, 100,1);
">
	
</div>   <div style="position: absolute;width: 100%;height: 8px; transform: rotate(0deg);
  border-top:1px solid #ABDCFF;margin-top: 1.5%;
background-image: linear-gradient( 190deg, rgba(38, 50, 75,0.8) 30%,
			 rgba(69, 90, 100,1) 100%);
box-shadow: 0px 2px 10px rgba(69, 90, 100,1);
">
	
</div>    <div style="position: absolute;width: 100%;height: 8px; transform: rotate(0deg);
  border-top:1px solid #ABDCFF;margin-top: 2%;
background-image: linear-gradient( 190deg, rgba(38, 50, 75,0.8) 30%,
			 rgba(69, 90, 100,1) 100%);
box-shadow: 0px 2px 10px rgba(69, 90, 100,1);
">
	
</div>    <div style="position: absolute;width: 100%;height: 8px; transform: rotate(0deg);
  border-top:1px solid #ABDCFF;margin-top: 2.5%;
background-image: linear-gradient( 190deg, rgba(38, 50, 75,0.8) 30%,
			 rgba(69, 90, 100,1) 100%);
box-shadow: 0px 2px 10px rgba(69, 90, 100,1);
">
	
</div> 	   <div style="position: absolute;width: 100%;height: 8px; transform: rotate(0deg);
  border-top:1px solid #ABDCFF;margin-top: 3%;
 background: none;
box-shadow: 0px 2px 10px rgba(69, 90, 100,1);
">
	
</div> 
</div>
	<div>
		<div class="enter">
				<div class="text">
				<img src="img/invoker.png"><br><br>
					<h1>The Art of Support - Introduction</h1><br>
	<p>
	Did you know that the Art of Support Book was read by over half<br>
a million people on Liquid Dota? Indeed it was and it was written by<br>
@Ler-GG,who is here to help you once again but this time he brings<br>
you his guide in vedeo format.Even thought the focus of this guide is<br>
more on the Support role, it will help the Carry role as well. As you will<br>
learn when you need to rotate to the other leanes, you will also know </p><br><br>

	 <button>show more</button>
				</div>
		</div>

	</div>
</section>

<section class="main3">
	<div>

	<div class="bar">
		
	</div>
	<div class="bar1">
		
	</div>
	<div class="enter">
	<div class="text">
	<h1>our reviews</h1><br>
	<button class="left"><img src="img/right-arrow.svg"></button><br><br>
	<p>
	with the exception of Nietzsche, no other madman has contributed so much to human sanity<br> as has Louis Althusser.he is
mentioned twice in the Encyclopaedia Britannica as someone's teacher.  There could be no greater lapse: for two important
decades (the 60s and the 70s). Althusser was at the eye of all the important cultural storms. He fathered quite a few of them.</p><br><button class="right"><img src="img/right-arrow.svg"></button><br><br><br>

	 <center><img src="img/gamer.png"  ></center><br><br> 
		
	</div>
	</div>
	</div>
	</section>

		<section class="main4">
			<div>
				<div class="enter"  >
				<div class="text" style="opacity: 1;">
	<h1>our reviews</h1><br><br><br><br><br><br><br> 


	<div class="coupe">
	<center><img src="img/success.svg"></center><br>
		<header>
			<h2>In-depth Exclusive<br>
Dota 2 Content</h2>

		</header><br>

		<header>
			<p>Best Guides and Game Analysis<br>
Only on PVGNA</p>
		</header>
	</div>	<div class="coupe">
	<center><img src="img/paper-plane.svg"></center><br>
		<header>
			<h2>In-depth Exclusive<br>
Dota 2 Content</h2>

		</header><br>

		<header>
			<p>Best Guides and Game Analysis<br>
Only on PVGNA</p>
		</header>
	</div>	<div class="coupe">
	<center><img src="img/white-flag.svg"></center><br>
		<header>
			<h2>In-depth Exclusive<br>
Dota 2 Content</h2>

		</header><br>

		<header>
			<p>Best Guides and Game Analysis<br>
Only on PVGNA</p>
		</header>
	</div>	<div class="coupe">
	<center><img src="img/support.svg"></center><br>
		<header>
			<h2>In-depth Exclusive<br>
Dota 2 Content</h2>

		</header><br>

		<header>
			<p>Best Guides and Game Analysis<br>
Only on PVGNA</p>
		</header>
	</div>
	</div>
				</div>
			</div>

			<header>
<div class="menu">
	<div class="logo">
		<img src="img/logo.png">
	</div>
	<div class="logo" id="copy">
		<p>copyright "Webcodes"</p>
	</div>
	<div class="btn">
		<button>sing in </button>
		<button>sing up </button>
	</div>
 </div>

</header>
		</section>


<script type="text/javascript">
	
	function shadoww() {
		_('text').style.boxShadow = "0px 0px 0px rgba(0,0,0,0.3)";
		_('text').style.opacity = 1;
		_('login').style.marginLeft = "0px";
	}
</script>
</body>
</html>