<html>
	<head>
		<title>Blog name</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
		<link href="css/main.css" rel="stylesheet"/>
	</head>
	<body>
		<div class="topbar">
			<div class="wrapper">
				<span class="title">Blog name</span>
				<button class="nav_button" onclick="nav();"></button>
				<nav id="nav">
					<button class="close_nav" onclick="nav();">Close</button>
					<a href="#">Home</a>
					<a href="#">About</a>
					<a href="#">Contact</a>
					<a href="#">Subscribe</a>
				</nav>
			</div>
		</div>
		<header id="header" style="background-image:url(img/header.jpg);"></header>
		<div class="wrapper posts" style="margin-top: -100px;">
			<article>
				<span class="title">
					Tapdaq - Features Page 3.1
				</span>
				<p>
					Today I'm sharing another real WIP straight from the Tapdaq kitchen 🙌. I'm currently working on new tweaks to our features overview to show our visitors 6 new cool features which has been added in past 3 months.
				</p>
				<p>
					<h2>Paragraph heading</h2>
					Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet. Voluptate voluptate irure occaecat deserunt incididunt esse in. Sunt velit aliquip sunt elit ex nulla reprehenderit qui ut eiusmod ipsum do. Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis enim deserunt voluptate aute veniam sint pariatur exercitation. Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim irure.
				</p>
				<p>
					Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit.
					<ul>
						<li>List item</li>
					</ul>
					Velit anim eiusmod labore sit amet. Voluptate voluptate irure occaecat deserunt incididunt esse in.
					<img src="img/article.jpg" />
					Sunt velit aliquip sunt elit ex nulla reprehenderit qui ut eiusmod ipsum do. Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis enim deserunt voluptate aute veniam sint pariatur exercitation. Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim irure.
				</p>
				<div class="comments">
					<span class="title">Comments (3)</span>
					<div class="comment">
						<div class="user_info">
							<img src="img/profile.jpg" />
							<h2>User name</h2>
							Yesterday
						</div>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
						</p>
						<div class="comment">
							<div class="user_info">
								<img src="img/profile.jpg" />
								<h2>User name</h2>
								Yesterday
							</div>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
							</p>
						</div>
					</div>					<div class="comment">
						<div class="user_info">
							<img src="img/profile.jpg" />
							<h2>User name</h2>
							Yesterday
						</div>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
						</p>
					</div>
					<div class="comment">
							<div class="user_info">
								<img src="img/profile.jpg" />
								<h2>User name</h2>
								Yesterday
							</div>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
							</p>
							<div class="comment">
							<div class="user_info">
								<img src="img/profile.jpg" />
								<h2>User name</h2>
								Yesterday
							</div>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
							</p>
						</div>
						<div class="comment">
							<div class="user_info">
								<img src="img/profile.jpg" />
								<h2>User name</h2>
								Yesterday
							</div>
							<p>
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
							</p>
						</div>
					</div>
				</div>
			</article>
			<section></section>
			
		</div>
		<script>
			function nav(){
				document.getElementById("nav").classList.toggle("active");
			}
		</script>
		<script src="js/main.js"></script>
	</body>
</html>