<html>
	<head>
		<title>Blog name</title>
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
		<link href="css/main.css" rel="stylesheet"/>
	</head>
	<body>
		<div class="topbar">
			<div class="wrapper">
				<span class="title">Blog name</span>
				<button class="nav_button" onclick="nav();"></button>
				<nav id="nav">
					<button class="close_nav" onclick="nav();">Close</button>
					<a href="#">Home</a>
					<a href="#">About</a>
					<a href="#">Contact</a>
					<a href="#">Subscribe</a>
				</nav>
			</div>
		</div>
		<div class="wrapper posts">
			<div class="post">
				<img src="img/post1.jpg" />
				<button class="share"></button>
				<span class="title">
					Tapdaq - Features Page 3.1
				</span>
				<p>
					Today I'm sharing another real WIP straight from the Tapdaq kitchen 🙌. I'm currently working on new tweaks to our features overview to show our visitors 6 new cool features which has been added in past 3 months.
				</p>
				<button class="more">Read more</button>
			</div><div class="post">
				<img src="img/post2.jpg" />
				<button class="share"></button>
				<span class="title">
					Data Management Platform (DMP) v1
				</span>
				<p>
					Sharing a screen from my ongoing project of DMP dashboard i did for a client. 
					I'd love to hear any thoughts you might have!
				</p>
				<button class="more">Read more</button>
			</div><div class="post">
				<img src="img/post3.jpg" />
				<button class="share"></button>
				<span class="title">
					Trello Atlassian - Stats
				</span>
				<p>
					Take a look at the full redesign case study on Behance.
					If you like it, read our open letter to Atlassian and spread the word. Let's make Trello even better.
				</p>
				<button class="more">Read more</button>
			</div><div class="post">
				<img src="img/post4.jpg" />
				<button class="share"></button>
				<span class="title">
					Messaging webapp
				</span>
				<p>
					Are you looking for a source of interaction design inspiration? Check out 100 Interaction collection where I publish all the best Designs for your inspiration.Get Inspired
				</p>
				<button class="more">Read more</button>
			</div><div class="post">
				<img src="img/post5.jpg" />
				<button class="share"></button>
				<span class="title">
					Experimental Apps design for medical
				</span>
				<p>
					Hi Everyone, 
					It is Experimental Apps design for medical.
					Let me know what you think about the shot?
				</p>
				<button class="more">Read more</button>
			</div><div class="post">
				<img src="img/post6.jpg" />
				<button class="share"></button>
				<span class="title">
					Steps WIP
				</span>
				<p>
					Work in process (WIP), work in progress (WIP), goods in process, or in-process inventory are a ... A queue leading to a production step shows that the step is well buffered for shortage in supplies from preceding steps, but may also indicate
				</p>
				<button class="more">Read more</button>
			</div>
		</div>
		<script>
			function nav(){
				document.getElementById("nav").classList.toggle("active");
			}
		</script>
	</body>
</html>