<!DOCTYPE html>
<html>
	<head>
		<title>What if facebook is looking like this</title>
	<meta id="myViewport" name="viewport" content="width=device-width, user-scalable=no">
		<link href="css/main.css" rel="stylesheet" />
		<script src="js/main.js" ></script>
	</head>
	<body>
	
		<!-- TOPBAR -->
		
		<div class="topbar">
			<img src="img/logo.png" class="logo"/>
			<div class="first-section">
				<input type="text" placeholder="Search Facebook ..."/>
			</div>
			<div class="second-section">
				<div class="container">
					<button class="feed home"></button>
					<button class="feed users"></button>
					<button class="feed notification"></button>
					<div style="background-image:url(img/profile.jpg);" class="profile_pic"></div>
					<button class="feed down"></button>
				</div>
			</div>
			<div class="last-section">
				<img src="img/messenger.png" />
				Messenger
			</div>
		</div>
		
		<!-- END TOPBAR -->
		<!-- PROFILE -->
		
		<div class="profile">
			<div class="cover" style="background-image: url(img/cover.jpg)"></div>
			<div class="photo profile_pic" style="background-image: url(img/profile.jpg)"></div>
			<h3>Rabii Kahlaoui</h3>
			<h6>UI designer</h6>
			<hr/>
				<h1>Intro</h1>
			<hr/>
				<p>
				Lorem Ipsum is also known as: Greeked text, blind text, placeholder text, dummy content, filler text, lipsum, and mock-content.
				</p>
			<hr/>
				<h1>Photos</h1>
			<hr/>
			<div class="photos">
				<div class="photo" style="background-image: url(img/photo1.jpg)"></div>
				<div class="photo" style="background-image: url(img/photo2.jpg)"></div>
				<div class="photo" style="background-image: url(img/photo3.jpg)"></div>
				<div class="photo plus">+12</div>
			</div>
			<hr/>
				<h1>Friends</h1>
			<hr/>
			<div class="photos">
				<div class="photo" style="background-image: url(img/friend1.jpg)"></div>
				<div class="photo" style="background-image: url(img/friend2.jpg)"></div>
				<div class="photo" style="background-image: url(img/friend3.jpg)"></div>
				<div class="photo plus" style="background: #F50E6B;">+432</div>
				<div class="photo name">Ivor</div>
				<div class="photo name">Mayson</div>
				<div class="photo name">Carly</div>
			</div>
		</div>
		
		<!-- END PROFILE -->
		<!-- POSTS -->
		
		<div class="posts">
			<div class="element" style="overflow: hidden;">
				<div class="photo" style="background-image: url(img/profile.jpg)"></div>
				<input type="text" placeholder="What's on your mind ?" class="post"/>
				<button class="statut_button">Post</button>
			</div>
			<div class="element">
				<div class="header">
					<div class="photo" style="background-image: url(img/profile.jpg)"></div>
					<h1>Rabii Khaloui</h1>
					3 Hours ago
				</div>
				<p>
					Lorem Ipsum is also known as: Greeked text, blind text, placeholder text, dummy content, filler text, lipsum, and mock-content.
				</p>
				<img src="img/post.png" />
				<button class="post_button" style="background-image:url(img/like.png);"></button>
				<button class="post_button" style="background-image:url(img/love.png);"></button>
				<button class="post_button" style="background-image:url(img/laugh.png);"></button>
				<button class="post_button" style="background-image:url(img/lol.png);"></button>
				<button class="post_button" style="background-image:url(img/sad.png);"></button>
				<button class="post_button" style="background-image:url(img/angry.png);"></button>
				<button class="post_button" style="float: right;background-image:url(img/share.png);margin-left: 10px;"></button>
				<button class="post_button" style="float: right;background-image:url(img/comment.png);"></button>
				<hr/>
					<h2>
						<button class="post_button" style="background-image:url(img/laugh.png);"></button>
						<button class="post_button" style="background-image:url(img/like.png);"></button>
						<button class="post_button" style="background-image:url(img/lol.png);margin-right: 6px;"></button>
						Rabii kahlaoui, Carly and 79 others
					</h2>
				<hr/>
					<div class="comment">
						<div class="photo" style="background-image: url(img/friend3.jpg)"></div>					
						<h2>
							Carly Vann <span>WOW!</span>
							<button class="post_button" style="background-image:url(img/like.png);margin-right:0;"></button>
							<button class="post_button" style="background-image:url(img/lol.png);"></button>
						</h2>
						1 Hour ago
					</div>
				<hr/>
					<div class="comment">
						<div class="photo" style="background-image: url(img/friend2.jpg)"></div>					
						<h2>
							Mayson Bell <span>Nice picture</span>
							<button class="post_button" style="background-image:url(img/laugh.png);margin-right:0;"></button>
							<button class="post_button" style="background-image:url(img/angry.png);"></button>
							<button class="post_button" style="background-image:url(img/like.png);"></button>
						</h2>
						2 Hours ago
					</div>
				<hr/>
				<div class="comment" style="padding-bottom:0;">
					<div class="photo" style="background-image: url(img/profile.jpg)"></div>					
					<input type="text" placeholder="Write your comment" class="post"/>
				</div>
			</div>
		</div>
		
		<!-- END POSTS -->
		<!-- MESSENGER -->
		
		<div class="messenger">
			<div class="user">
				<div class="photo" style="background-image: url(img/friend1.jpg)"></div>
				Alejandro	Roy
			</div>
			<div class="user">
				<div class="photo" style="background-image: url(img/friend2.jpg)"></div>
				Edward	Jones
			</div>
			<div class="user">
				<div class="photo" style="background-image: url(img/friend3.jpg)"></div>
				Annette	Daniels
			</div>
			<div class="user">
				<div class="photo" style="background-image: url(img/friend4.jpg)"></div>
				Christine	Martin
			</div>
			<div class="user">
				<div class="photo" style="background-image: url(img/friend5.jpg)"></div>
				Gregory	Martinez
			</div>
			<div class="user">
				<div class="photo" style="background-image: url(img/friend6.jpg)"></div>
				Robert	Russell
			</div>
			<div class="search">
				<input type="text" placeholder="Search for friends..." />
				<button class="plus"></button>
			</div>
		</div>
		
		<!-- END MESSENGER -->
		
	</body>
</html>