* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	font-family: segoe ui;
	box-sizing: border-box;
}
body {
	background: #F6F7FA;
	padding: 60px 230px 0 0;
}
.topbar {
	position: fixed;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	background: #5364BA;
	overflow: hidden;
}
.topbar .first-section {
	box-shadow: 0 0 40px #3E4E8E;
	width: 340px;
	float: left;
	padding-left: 0;
}
.topbar .logo {
	background: #5364BA;
	height: 60px;
	width: 60px;
	padding: 22px;
	box-shadow: 0 0 40px #3E4E8E;
	position:absolute;
	top:0;
	left:0;
}
.topbar .first-section input {
	line-height: 60px;
	height: 60px;
	width: 100%;
	float: left;
	padding: 0 20px 0 90px;
	background: none;
	color: #eee;
	font-size: 13px;
	font-weight: 400px;
}
.topbar .first-section input[type="text"]::-webkit-input-placeholder {
	color: #B5BBDC !important;
}
.topbar .first-section input[type="text"]::-moz-placeholder {
	color: #B5BBDC !important;
}
.topbar .first-section input[type="text"]::-moz-placeholder {
	color: #B5BBDC !important;
}
.topbar .first-section input[type="text"]::-ms-input-placeholder {
	color: #B5BBDC !important;
}
.topbar .second-section {
	float: left;
	width: calc(100% - 570px);
	height: 60px;
}
.topbar .second-section .container{
	float: right;
	padding-right: 20px;
	height: 60px;
}
.topbar .second-section .feed {
	background: none;
	height: 16px;
	width: 16px;
	margin: 22px 0 0 15px;
	opacity:0.5;
	transition-duration: 0.2s;
	cursor: pointer;
	float: left;
	background-size: cover;
}
.topbar .second-section .profile_pic {
	height: 30px;
	width: 30px;
	float: left;
	margin: 15px -10px 0 40px;
	border-radius: 3px;
	background-size: cover;
	background-position: center;
}
.topbar .second-section .feed:hover {
	opacity: 1;
}
.topbar .second-section .feed.notification {
	background-image: url(../img/notification.png);
}
.topbar .second-section .feed.users {
	background-image: url(../img/users.png);
}
.topbar .second-section .feed.home {
	background-image: url(../img/home.png);
}
.topbar .second-section .feed.down {
	background-image: url(../img/down.png);
	margin-left: 20px;
}

.topbar .last-section {
	background: #448AFF;
	float: left;
	width: 230px;
	line-height: 60px;
	height: 60px;
	padding: 0 20px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}
.topbar .last-section img{
	float: left;
	margin: 22px 10px 22px 0;
	width: 16px;
	height: 16px;
	
}

/* PROFILE */
.profile {
	box-shadow: 0 0 30px #DADEE5;
	float: left;
	width: 340px;
	height: 100%;
	background: #FFFFFF;
	padding-bottom: 50px;
}
.profile .cover {
	height: 160px;
	width: 100%;
	background-size: cover;
	background-position: center;
}
.profile .photo {
	width: 80px;
	height: 80px;
	border-radius:10px;
	background-size: cover;
	background-position: center;
}
.profile .profile_pic {
	margin: -40px auto 0 auto;
	display: block;
}
.profile h1{
	color: #656576;
	display: block;
	text-align: center;
	font-size: 17px;
	font-weight: 500;
	margin:10px 0;
}
.profile h3{
	color: #656576;
	display: block;
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	margin:15px 0 5px 0;
}
.profile h6{
	color: #BCBCC2;
	display: block;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	margin:5px 0 15px 0;
}
.profile hr {
	background: #E8EBED;
	height: 1px;
	border:none;
	margin: 0 auto;
	width: 85%;
}
.profile p {
	display: block;
	text-align: center;
	margin: 15px 0;
	color: #656576;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.profile .photos{
	margin: 15px auto;
	width: 288px;
	overflow: hidden;
}
.profile .photos .photo{
	float: left;
	margin: 0 2px;
	height: 68px;
	width: 68px;
}
.profile .photo.plus {
	background: #A5D950;
	color: #fff;
	text-align: center;
	line-height: 68px;
	font-size: 20px;
	font-weight: 500;
}
.profile .photo.name {
	background: none;
	height: 40px;
	line-height:40px;
	color: #656576;
	font-weight: 400;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	padding: 0 3px;
}

/* messenger */
.messenger {
	box-shadow: 0 0 30px #DADEE5;
	position: fixed;
	top: 60px;
	right: 0;
	width: 230px;
	height: calc(100vh - 60px);
	background: #FFFFFF;
	padding: 0 20px;
}
.messenger .user{
	margin-top: 20px;
	font-size: 17px;
	color: #656576;
	font-weight: 300;
	line-height: 34px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.messenger .photo{
	width: 34px;
	height:34px;
	float: left;
	margin: 0 13px 0 0;
	background-size: cover;
	background-position: center;
	border-radius: 8px;
}
.messenger .search {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 47px;
	border-top: 1px solid #E8EBED;
}
.messenger input{
	padding: 3px 15px;
	font-size: 16px;
	color: #656576;
	font-weight: 400;
	height: 46px;
	line-height: 46px;
	float: left;
	width: calc(100% - 46px);
}
.messenger button {
	float: right;
	margin: 7px;
	width: 32px;
	height:32px;
	background: #448AFF;
	border-radius: 17px;
	background-image: url(../img/plus.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px;
}
/* posts */
.posts {
	padding: 20px 0 100px 0;
	float: left;
	width: 600px;
	margin-left: calc(100vw / 2 - 595px);
}
.posts .element {
	width: 500px;
	margin: 30px auto 0 auto;
	background: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0 0 20px #DADEE5;
	padding: 20px;
}
.posts .photo {
	width: 40px;
	height:40px;
	border-radius:10px;
	background-size: cover;
	background-position: center;
	float:left;
	margin-right: 20px;
}
.posts .post {
	float: left;
	height: 40px;
	padding: 2px 0;
	line-height: 38px;
	color: #656576;
	width: 320px;
	margin-right: 20px;
}
.posts .statut_button {
	float: left;
	width: 60px;
	height: 40px;
	color: #fff;
	background: #596AC1;
	border-radius: 10px;
	font-size: 14px;
	font-weight: 500;
}
.posts .header {
	line-height: 20px;
	height: 40px;
	font-size: 13px;
	font-weight: 500;
	color: #BDC0C1;
}
.posts .header .photo{
	margin-right: 15px;
}
.posts .header h1 {
	color: #656576;
	display: block;
	font-size: 15px;
	font-weight: 500;
}
.posts p {
	margin: 10px 0;
	display :block;
	color: #656576;
	font-size: 16px;
	font-weight: 400;
}
.posts img {
	width: 560px;
	margin: 5px 0 10px -50px;
	border-radius: 10px;
	box-shadow: 0 0 20px #DADEE5;
}
.posts hr {
	background: #E8EBED;
	height: 1px;
	border:none;
	margin: 0 auto;
	width: 100%;
}
.posts .post_button {
	height: 16px;
	width: 16px;
	float: left;
	margin: 0 3px 10px 0;
}
.posts h2{
	line-height: 26px;
	color: #656576;
	font-size: 16px;
	font-weight: 500;
	display: block;
	margin: 15px 0
}
.posts h2 .post_button {
	margin: 3px -6px 3px 0;
	float: left;
	border: 2px solid #fff;
	width: 20px;
	height:20px;
	border-radius: 50%;
	background-size: 16px;
	background-position: center;
}
.posts h2 span {
	font-weight: 400;
	margin-left: 15px;
}
.posts .comment .photo{
	float: left;
	margin:0 15px 0 0;
}
.posts .comment{
	line-height: 20px;
	font-size: 13px;
	font-weight: 500;
	color: #BDC0C1;
	padding: 10px 0;
	overflow: hidden;
}
.posts .comment h2{
	line-height: 20px;
	margin:0;
}
.posts .comment .post_button{
	float: right;
}

.posts .comment input {
	width: calc(100% - 55px);
	margin: 0;
}