<!-- Create by web codes
webcodes.net | @rabii
Free for personal and commercial use  -->
<!DOCTYPE html>
<html>
	<head>
		<title>web codes</title>
		<meta charset="UTF-8">
		<meta id="myViewport" name="viewport" content="width=400, user-scalable=no">
		<link href="css/index.css" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	</head>
	<body>
		<div id="topbar">
			<div class="wrapper">
				<p class="logo" >web codes</p>
				<nav id="nav">
					<input type="text" placeholder="Search" id="s1" onkeyup="document.getElementById('s2').value = this.value;"/>
					<a href="#">Link</a>
					<a href="#">Link</a>
					<a href="#">Link</a>
				</nav>
				<button class="nav_button" onclick="nav();"></button>
			</div>
		</div>
		<header>
			<div>
				Some text will be here
				<span>A small description here for nothing</span>
			</div>
		</header>
		<div id="search_form">
			<input type="text" placeholder="Search" id="s2" onkeyup="document.getElementById('s1').value = this.value;" />
			<input type="submit" value="Find courses"/>
			<div>
				Popular : 
				<button>HTML5</button>
				<button>After effects</button>
				<button>CSS</button>
				<button>Web design</button>
			</div>
		</div>
		<section class="categories">
			<div class="wrapper">
				<h1>Surf a category</h1>
				<div class="category">
					<div class="cover" style="background-image: url(img/animation.jpg);">
						<div>
							Animation
						</div>
					</div>
					<span class="counter ">Courses : <span>103</span></span>
					<span class="counter ">Attendances : <span>562</span></span>
				</div><div class="category">
					<div class="cover" style="background-image: url(img/banking.jpg);">
						<div>
							Banking
						</div>
					</div>
					<span class="counter ">Courses : <span>55</span></span>
					<span class="counter ">Attendances : <span>186</span></span>
				</div><div class="category">
					<div class="cover" style="background-image: url(img/communication.jpg);">
						<div>
							Communication skills
						</div>
					</div>
					<span class="counter ">Courses : <span>422</span></span>
					<span class="counter ">Attendances : <span>3 263</span></span>
				</div><div class="category">
					<div class="cover" style="background-image: url(img/digitalmarketing.jpg);">
						<div>
							Digital marketing
						</div>
					</div>
					<span class="counter ">Courses : <span>1 103</span></span>
					<span class="counter ">Attendances : <span>9 203 565</span></span>
				</div><div class="category">
					<div class="cover" style="background-image: url(img/finance.jpg);">
						<div>
							Finance
						</div>
					</div>
					<span class="counter ">Courses : <span>1 023</span></span>
					<span class="counter ">Attendances : <span>96 968</span></span>
				</div><div class="category">
					<div class="cover" style="background-image: url(img/law.jpg);">
						<div>
							Law
						</div>
					</div>
					<span class="counter ">Courses : <span>9</span></span>
					<span class="counter ">Attendances : <span>209</span></span>
				</div><div class="category">
					<div class="cover" style="background-image: url(img/management.jpg);">
						<div>
							Management
						</div>
					</div>
					<span class="counter ">Courses : <span>92</span></span>
					<span class="counter ">Attendances : <span>223</span></span>
				</div><div class="category">
					<div class="cover" style="background-image: url(img/marketing.jpg);">
						<div>
							Marketing
						</div>
					</div>
					<span class="counter ">Courses : <span>523</span></span>
					<span class="counter ">Attendances : <span>102 302</span></span>
				</div><div class="category">
					<div class="cover" style="background-image: url(img/medical.jpg);">
						<div>
							Medical
						</div>
					</div>
					<span class="counter ">Courses : <span>1 285</span></span>
					<span class="counter ">Attendances : <span>98 203</span></span>
				</div>
			</div>
		</section>
		<footer>
			<div class="wrapper">
				<div class="section">
					<h1>Title of section</h1>
					<p>
						Some detailed content forever will be here forever
						Some detailed content will be here will be here 
						Some detailed content forever
					</p>
				</div>
				<div class="section">
					<h1>Title of section</h1>
					<a href="#">link here</a>
					<a href="#">link here</a>
					<a href="#">link here</a>
					<a href="#">link here</a>
				</div>
				<div class="section">
					<h1>Title of section</h1>
					<a href="#">link here</a>
					<a href="#">link here</a>
					<a href="#">link here</a>
					<a href="#">link here</a>
				</div>
			</div>
		</footer>
		<script src="js/index.js"></script>
	</body>
</html>