<!DOCTYPE html>
<!--
	Template by WebCodes
	webcodes.net | @Hmairi
-->
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
 
 


      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<section class="head">
	<header>
	<div class="md">
	<div class="logo"><img src="img/atom.svg"></div>
	<div class="button">
		<button>features</button>
		<button>solutions</button><button>developres</button>
		<button>reseller</button>
		<button>enterprise</button>
		<button id="menu" onclick="disp()"><img src="img/menu.svg"></button>
	</div>
	<div class="start">
		<button>build my app</button>
	</div>
	</div>
	</header>
	<div class="menucash" id="menucash"  >
			<button>features</button>
		<button>solutions</button><button>developres</button>
		<button>reseller</button>
		<button>enterprise</button>
	</div>

	<div class="intro">
		<p>white label the world'S most powerful mobile app buiding platform</p><br><br>
		<h2>completely branded as your own</h2><br><br><br>
		<center><button>schedule a demo</button></center>
	</div>
</section>

<section class="main1">
<div class="row">
	<div>

		<img src="img/settings.svg"><br><br>
		<p>
		<span>turn-key solution dor apps</span><br><br>
			Quickly and efficiently build robust apps
for your customers with our easy to use
app builder.
		</p>
	</div>	<div>

		<img src="img/tablet.svg"><br><br>
		<p>
		<span>completely customizable</span><br><br>
			Our platform was built specifically to
accommodate your business's needs.
Customize the platform to be completely
your own.
		</p>
	</div>	<div>

		<img src="img/business-presentation.svg"><br><br>
		<p>
		<span>built for scale</span><br><br>
			Have 10 clients or 10,00 we have a
solution for you.Find out how we can
Work together!
		</p>
	</div> 
	 <div id="bt_main1"   ><br><br> 
		<center><button>schedule a demo</button></center>
	</div> 
</div>
</section>




<section class="main1" style="background-image: linear-gradient( 135deg, #43CBFF 0%, #9708CC 100%);">
<div class="row">
			<header><h1>amazing features for your business</h1> <br>sell your way.don't let a platform limit you.</header>
	<div id="div_main1"  >

		<img src="img/television.svg"><br><br>
		<p>
		<span class="span1">no headaches</span><br><br>
			We eliminate hundreds of
complexities when it comes
to building apps, all
without sacrificing control.
		</p>
	</div>	<div id="div_main1">

		<img src="img/smartphone.svg"><br><br>
		<p>
		<span class="span1">modular architecture</span><br> <br>
			Our platform allows you to
focus on building what's
unique to your business. No 
need to reinvent the wheel.
		</p>
	</div>	<div id="div_main1">

		<img src="img/codin.svg"><br><br>
		<p>
		<span class="span1">reusable functionality</span><br><br>
			
When you build features for
your customers, re-use
them across all you apps.
		</p>
	</div> 
	 <div id="bt_main2"  ><br><br> 
		<center><button id="btn_main1" >schedule a demo</button></center>
	</div> 
</div>
</section>



<section class="main2">
<div class="row">
 				<header><h1>amazing features for your business</h1> <br>sell your way.don't let a platform limit you.</header>
	<div>

		<img src="img/monitor.svg"><br> 
		<p>
		<span>super admin dashboard
</span><br><br>
			Manage your clients apps, create new apps,
cione apps, manage configurations and access
levels with just a single click.
		</p>
	</div>	<div>

		<img src="img/update.svg"><br> 
		<p>
		<span>branded customer portal
</span><br><br>
			Your clients will be able to make changes and 
app updates in real time through your
branded dashboard.
		</p>
	</div>	<div>

		<img src="img/coding.svg"><br><br>
		<p>
		<span>create custom features
</span><br><br>
			With our developer program build fully
custom functionality for a fraction of the cost.
		</p>
	</div> 	<div>

		<img src="img/setting.svg"><br><br>
		<p>
		<span>custom plans and configurations
</span><br><br>
			You choose what features you make available
to your customers .Easily create multiple
pricing tiers.
		</p>
	</div> 	<div>

		<img src="img/cube.svg"><br><br>
		<p>
		<span>automated diy sign-up and 
purchase</span><br><br>
			Your users can sign up through an automated 
free trial and sales process(just like us)
integrated natively with Recurly.
		</p>
	</div> 	<div>

		<img src="img/ana.svg"><br><br>
		<p>
		<span>analytics and email
automation</span><br><br>
			Send data to an analytics platform you like
with our Segment integration 
		</p>
	</div> 



	 
</div>
</section>


<section class="main3" style="background-image: linear-gradient( 135deg, #43CBFF 0%, #9708CC 100%);">
<div class="row">
			<header><h1>Contact us to see what solutions we can
for you!</h1> </header><br><br><br><br>
 	<div id="div_main3" style="background: none;box-shadow: 0px 2px 30px rgba(0,0,0,0.3);padding: 30px 20px 30px 20px;">
 
		<form>
			<input type="" name="" placeholder="Your Name" required="required"><input placeholder="Your Email" type="" name="" required="required"><br>
			<input type="" name="" placeholder="Subject" required="required"><input placeholder="Phone" type="" name="" required="required"><br>
			<center><button>get in touch</button></center>
		</form>
	</div>	 
 
</div>
</section>

<section class="main4" style="background: white;">
<div class="row">
 
 	<div>
 <div class="logo" style="width: 90%;">
 <img src="img/atom1.svg"  style="width: 40%;height: 40%;margin-left: 30%;">

 </div>
	<center style="font-weight: bold;color:#4b4b4b;"> Copyright &copy; 2017 <br>Web Codes</center>
	</div>	 
 	<div>
    <span>company</span><br><br>
    <p>Blog</p><br><br>
    <p>about us</p><br><br>
    <p>developers</p><br><br>
    <p>reseller</p><br><br>
    <p>jobs</p><br><br>
    <p>terms</p><br><br>

	 
	</div>	<div  >
    <span>product</span><br><br>
    <p>features</p><br><br>
    <p>buildFire university</p><br><br>
    <p>FAQ</p><br><br>
    <p>pro dervices</p><br><br>
 

	 
	</div>	 
 	<div  >
    <span>industries</span><br><br>
    <p>church app</p><br><br>
    <p>barbershop app</p><br><br>
    <p>blog app</p><br><br>
    <p>winery app</p><br><br>	 
	</div>	

		<div>
 
		<center><button>build my app</button><br>
		<a href="https://www.facebook.com/webcodes11/" target="_blank"><img src="img/facebook.svg"></a>
		<a href="https://twitter.com/WEBCODES3" target="_blank"><img src="img/twitter.svg"></a>
		<a href="https://www.youtube.com/channel/UC8driL5LrwgO-zHL6HUDofg" target="_blank"><img src="img/youtube.svg"></a>
		<a href="#" target="_blank"><img src="img/in.svg"></a>
		</center>
	  
	</div>	 
 
</div>
</section>

<script type="text/javascript">
        	function _(x) {
        		return document.getElementById(x);

        	}

       

        		function disp() {
			
			if (_('menucash').style.opacity == 1) {


				_('menucash').style.opacity = 0;
				_('menucash').style.display ="none";
				
			}else{
				_('menucash').style.opacity = 1;
				_('menucash').style.display ="block";
				
			}
			
		}

        </script>
</body>
</html>