<!DOCTYPE html>
<!--
Template by WebCodes
	webcodes.net | @Hmairi
-->
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<section  >
	<div>
		<div class="main">
			<div class="text">
			<br><br> 
			<h1>Hmairi Halim</h1>
				
			</div><br>
			<h2>Create of modern web exprience for you</h2>
				<br><br><br> 
			<div class="down">
				<center><button id="b1"><img src="img/angle-arrow-down.svg"></button></center>
			</div>
		</div>
	</div>
</section>

<section class="main1">
	<div >
	<div class="bar">
		
	</div>
		<div class="main">
		 <div class="row">
		 	<div>
		 		<center><img src="img/responsive-design-symbol.svg"></center><br>

		 		<h2>Responsive</h2><br>
		 		<p>
		 		I create fully responsive websites, that <br>
means that they can adapt to all the<br>
screen sizes
		 		</p>
		 	</div>


		 		<div>
		 		<center><img src="img/award-medal-of-number-one-with-olive-branches.svg"></center><br>


		 		<h2>Brilliant</h2><br>
		 		<p>
		 		My websites have a simple<br> and modern design, 
		 		only the best of the best. 
		 		</p>
		 	</div>

		 		<div>
		 		<center><img src="img/coding.svg"></center><br>
 

		 		<h2>PHP 7</h2><br>
		 		<p>
		 	 I use the latest type of codes like<br>
HTML , CSS3 , AJAX ... to create<br>
websites.
 
		 		</p>
		 	</div>
		 </div>
		</div>
	</div>
</section>

<section class="main2">
	<div >
	 
		<div class="main">
		 <div class="row"><br><br> 
		 	<div> 

		 		<h2>Simplicity means beauty
</h2><br>
		 		<p>
 When I create a website I focus on the simplicity. A website has to<br> 
have an optimal and simple desogn to transmit the message that<br>
wants to transmit ant at the same time to have a modern look.
		 		</p>
		 	</div>
	</div>
	</div>
	</div>
</section>


<section class="main3">
	<div >
	 
		<div class="main">
		 <div class="row">
		 	<div>
		 	<h2>Do you want a website ?
</h2><br>
		 		<p>
Just completed the form down below to tell me what do you need<br> of if you
want some more informations about my work and I'll reply you as soon 
as possible.<br><br><br>
<button id="b2">GO TO THE FORM</button> 
		 		</p>
		 	</div>
		 	<a href="https://webcodes.net/198" target="_blank"><div class="img">
		 		<img src="img/web.jpg">
		 	</div></a>
		 	</div>
		 	</div>
		 	</div>
		 	</section>

		 	<section class="main4">
	<div >
	 
		<div class="main">
		 <div class="row">
		 	<div>
		 	<form>
		 		<input type="" placeholder="Name..." name="" required="required"> 

		 		<input type="email" placeholder="Email..." name="" required="required"><br><br>

		 		<textarea></textarea><br>
		 		<button  >Send</button>
		 	</form>

		 	<a href="https://www.facebook.com/webcodes11/"  target="_blank" ><div class="soc">
		 		<img src="img/facebook1.svg">
		 	</div></a>


		 	<a href="https://www.twitter.com/WEBCODES3" target="_blank"><div class="soc">
		 		<img src="img/twitter.svg">
		 	</div></a>


		 	<a href="https://www.pinterest.com/webcodes0176/" target="_blank"><div class="soc">
		 		<img src="img/pinterest.svg">
		 	</div></a>

		 	<a href="#" target="_blank"><div class="soc">
		 		<img src="img/dribbble.svg">
		 	</div></a>

		 	<a href="#" target="_blank"><div class="soc">
		 		<img src="img/github.svg">
		 	</div></a>


		 	</div>
		 	</div>
		 	</div>
		 	</div>
		</section>

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<script>

	
$("#b1").click(function() {
    $('html, body').animate({
        scrollTop: $(".main1").offset().top
    }, 1000);
});


$("#b2").click(function() {
    $('html, body').animate({
        scrollTop: $(".main4").offset().top
    }, 1000);
});


 
	</script>
</body>
</html>