<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/mobile.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#jqlog").click(function(){
        $("#login").fadeToggle(300);
        
    });
});
</script>
</head>
<body>
<section>
	<header>
	<div>
		<div class="logo">
			<img src="img/creative-process.svg">
		</div>
		<div class="btn">
			<button class="login" id="jqlog" >login</button>
			<button>get started for free</button>
		</div>
		</div>
	</header>
 
	 
	<div id="login"  >
	<form>
		<center><input type="email" placeholder="Email..." name="" required="required"><br>
		<input type="password" placeholder="Password..." name="" required="required"><br><br><br>
		<button>sign in</button></center>
	</form>
		
	</div> 
<br>
	<br><br><br><br><br>
	<div class="main">
		<h1>Simple process workflows for <br>teams and their clients</h1><br>
		<p>Floist is a simple and powerful way to manage your team's<br>procedures both intarnally and with their clients</p><br><br>
		<div class="start">

			<form>
				<input type="email" placeholder="name@company.com" name=""><button>get started for free</button>
			</form>
		</div>
	</div>
</section>




<section class="sec1">
<center><h1>The simplest way to manage recurring tasks and <br>procedures with your teams and clients  </h1></center>
	<div class="row">
		<div>
			<center><img src="img/step1.png"></center><br>
			<center><p>Create workflow template</p></center>
		</div>

		<div>
			<center><img src="img/step2.png"></center><br>
			<center><p>Run or schedule your process
			with default client or team
			views built in
			</p></center>
		</div>

		<div>
			<center><img src="img/step3.png"></center><br>
			<center><p>Track progress and automatically
			update clients and team
			membres</p></center>
		</div>
	</div> <br><br><br>
<center><h1>The simplest way to manage recurring tasks and <br>procedures with your teams and clients  </h1></center>
	<div class="row" style="height: 1150px;border:none;">

			<div class="imgtext">

			  <div class="imgt">
				<img src="img/benefit-create.svg">
				</div>

				<div class="imgt" id="descrption">
					
					<p  ><h2><span style="border-bottom: 1px solid #2ca2e6;">Anyone</span> can create templates in seconds.</h2><br>

We built Process Street with your entire team in mind. Even non-technical users can understand and generate the workflows that make your organization successful.</p>
				</div>
			</div>


					<div class="imgtext">

			

				<div class="imgt" id="descrption">
					
					<p><h2><span style="border-bottom: 1px solid #2ca2e6;">Everyone’s </span> held to the same standards.</h2><br>



When team members work from different versions of an old manual, productivity and quality of service suffer.

Consistency boosts customer satisfaction and internal efficiency — which, in turn, impacts profitability.</p>
				</div>  <div class="imgt">
				<img src="img/benefit-run.svg">
				</div>
			</div>


				<div class="imgtext">

			

				<div class="imgt" id="descrption">
					
					<p><h2><span style="border-bottom: 1px solid #2ca2e6;">Always</span> know who’s doing what, and when.</h2><br>

Tracking and measuring performance is critical to scaling successfully. By inviting your team to Process Street, you have full transparency into what each person is working on, and how long it’s taking them.</p>
				</div>  <div class="imgt">
				<img src="img/benefit-overview-table1.svg">
				</div>
			</div>

	</div>

	<div class="footer">
			<div class="main">
		<h1>GET STARTED FOR FREE</h1> 
	 <br><br>
		<div class="start">

			<form>
				<input type="email" placeholder="name@company.com" name=""><button>get started for free</button>
			</form>
		</div>
	</div>
	</div>
</section>
 
</body>
</html>