/*===============================================
GLOBAL CSS
===============================================*/
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*===============================================
GENERAL CSS
=================================================*/
div.container {
	margin: 10px;
	width: 320px;
}
	div#accordion-1 div.panel-default {
		border-top-right-radius: 13px;
		border-top-left-radius: 13px;
	}
	div#accordion-4 div.panel-default  {
		border-bottom-right-radius: 13px;
		border-bottom-left-radius: 13px;
	}

	div.accordion {
		border-bottom: 2px solid #C75E49;
	}

	div.accordion div.panel-default {
		margin: 0px;
		border: none;
		border-radius: 0;
	}

		div.accordion div.panel-heading {
			padding-left: 25px;
			color: #fff;
			background: #CD5A44;
			border: none;
			border-radius: 0;
			display: flex;
			align-items: center;
			height: 40px;
			font: 16px verdana;
		}	

		div.panel-heading span.heading-title {
			margin-left: 6%;
			cursor: default;
		}

		div.panel-heading span.badge {
			float: right;
			margin-left: 40%;
		}

		div.accordion div.panel-body {
			padding: 0px;
			margin: 0px;
			display: none;
		}

			div.panel-body div.pull {width: 100%;}

				div.pull div.triangle-down {
					width: 0;
					height: 0;
					margin-left: 20px;
					z-index: 1;
					position: absolute;
					border-left: 12px solid transparent;
					border-right: 12px solid transparent;
					border-top: 9px solid #CD5A44;
				}

				ul.selection { 
					list-style: none; 
					margin: 0px;
					padding: 0;
				}
					ul.selection li { 
						background-color: #484141;
					}

					ul.selection li a {
						text-decoration: none;
						padding-left: 6%;
						border-left: 5px solid #484141;
						height: 45px;
						color: #B5A09E;
						display: flex;
						align-items: center;
						font: 14px verdana;
					}

					ul.selection li a:hover {
						border-left: 5px solid #CD5A44;
					}

/*===============================================
STYLE CSS
=================================================*/

