<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
        <link href="css/reset.css" type="text/css" rel="stylesheet" />
        <link href="css/home.css" type="text/css" rel="stylesheet" />
        <link href="css/input.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <header>
			<div id="wrapper" style="overflow:hidden;">
				<img src="img/logo.png" class="logo"/>
				

				<div id="wrapper" class="small" style="max-width:600px;">
					<span class="title">Welcome to Facebook</span>
					<div class="paragraph">The world biggest social network</div>
				</div>
				
				<div class="login">
					<input type="text" placeholder="Email" />
					<input type="password" placeholder="Password" />
					<input type="submit" value="Login" />
				</div>
			</div>
			<div id="wrapper" class="big" style="max-width:600px;">
				<span class="title">Welcome to Facebook</span>
				<div class="paragraph">The world biggest social network</div>
			</div>
        </header>
        <div class="form" style="max-width:400px;">
				<span class="title">sign up</span>
                <div class="group">      
                  <input type="text" required>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Full Name</label>
                </div>
				
                <div class="group">      
                  <input type="password" required>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Your Email</label>
                </div>
				
                <div class="group">      
                  <input type="password" required>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>New Password</label>
                </div>
				
				<input type="submit" value="Sign Up" />
		</div>
		<footer>
		
		</footer>
    </body>
</html>